.contactContainer {
  height: 80vh;
  width: 100vw;
  max-width: 100%;
  display: grid;
  align-items: center;
  background-color: white;
  
  
}

.mailBtn {
  text-decoration: none;
  
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;

}

.img-link{
  width: 10%;

}


@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}
