* {
    margin: 0;
    scroll-behavior: smooth;
    
  }
  
  body {
    cursor: url("./images/cursor.png"), auto;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: 'textfield';
  }
  
  .greenColor {
    color: green !important;
  }
  .redColor {
    color: red !important;
  }
  input{
    font-family: "Montserrat" !important;
  }

 
  