/* .loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgba(0, 0, 0, 0.719);
  
    border-radius: 50%;
  
    animation: loadingRotate 800ms linear infinite;
  }
  .Heading{
    margin-top:-20rem;
    color: rgb(69, 64, 64);
    text-align: center;
  }
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  } */

   .loader-box{
    
    height: 50vmax;

    margin-top:18vmax;
    margin-left:42vmax;
   }
  .loader {
    display: grid;
    position: absolute;
    width: 150px;
    height: 100px;
  
  }
  .loader:before {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: rgb(179, 66, 46);
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  .loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 rgb(48,48,48), -35px 50px 0 rgb(48,48,48), -70px 95px 0 rgb(48,48,48);
    animation: loading-step 1s ease-in-out infinite;
  }

  @keyframes loading-bounce {
    0% { transform: scale(1, 0.7)}
    40% { transform: scale(0.8, 1.2)}
    60% { transform: scale(1, 1)}
    100% { bottom: 140px }
  }
  @keyframes loading-step {
    0% {
      box-shadow: 0 10px 0 rgba(0,0,0,0),
                  0 10px 0 rgb(48,48,48),
                -35px 50px 0 rgb(48,48,48),
                -70px 90px 0 rgb(48,48,48);
    }
    100% {
      box-shadow: 0 10px 0 rgb(48,48,48),
                -35px 50px 0 rgb(48,48,48),
                -70px 90px 0 rgb(48,48,48),
                -70px 90px 0 rgba(0,0,0,0);
    }
  }

  @media screen and (max-width: 600px){
    .loader-box{
      margin-left:25vmax;
    }
  }

