.speedDial {
    position: fixed;
    right: 3vmax;
    top: 12vmax;
  }
  @media screen and (max-width: 900px){
  .speedDial{
    top:24vmax;
  }
  }
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  